.header{
    position: fixed;
    top: 0;
    left:0;
    width: 98.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    z-index: 1000;
   
}
.logo{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav button{
    padding: 8px 12px;
    cursor: pointer;
}
